BeautifulSoup==3.2.1
Django==1.6.5
Scrapy==0.24.5
Twisted==15.0.0
Whoosh==2.6.0
beautifulsoup4==4.3.2
cffi==0.9.1
cryptography==0.8
cssselect==0.9.1
django-haystack==2.3.1
elasticsearch==1.2.0
enum34==1.0.4
lxml==3.4.2
pyOpenSSL==0.11
pyasn1==0.1.7
pycparser==2.10
pyelasticsearch==0.7.1
pywin32==219
queuelib==1.2.2
requests==2.4.1
simplejson==3.6.3
six==1.8.0
solr==0.4
urllib3==1.9.1
virtualenv==1.11.6
w3lib==1.11.0
web2py==2.1.1
zope.interface==4.1.2
